<% content_for :title, "Neues Template" %>

<div class="auth-container">
  <h1 class="auth-title">Neues Template</h1>
  
  <%= render "form", latex_template: @latex_template %>
  
  <p class="auth-footer">
    <%= link_to "Zurück", latex_templates_path %>
  </p>
</div>
