<% content_for :title, "Editing document" %>

<h1>Editing document</h1>

<%= render "form", document: @document %>

<br>

<div class="form-actions left">
  <%= link_to "Dokument Anzeigen", @document, class: "btn ghost" %>
  <%= link_to "Zur Liste", documents_path, class: "btn ghost" %>
</div>